<div class="ConnectionStatus">
    <span>Connection status:</span>
    <span>{{connectionStatus}}</span>
</div>

<div class="Separator Thick"></div>

<div class="Connection">

    <div ng-show="disconnected" class="Form">
        <div class="Title">Enter room name and player handle</div>
        <div>
            <div class="Label">Room</div>
            <input type="text" ng-model="login.roomInput" class="TextInput"/>
        </div>
        <div>
            <div class="Label">Player</div>
            <input type="text" ng-model="login.nameInput" class="TextInput"/>
        </div>

        <div class="Label">&nbsp;</div>
        <div ng-click="onClickConnect()" class="Button disable-select">Connect</div>

        <div ng-show="connectionError">
            <div class="Label">&nbsp;</div>
            <div class="Message">{{connectionError}}</div>
        </div>
    </div>
</div>
