<div class="JoystickContainer" >
    <div class="Joystick">
        <div class="Direction North West" ng-show="content.joystick.nw">
            <div class="Button disable-select" ng-click="onPressJoystick(-1, -1)">
                <span class="Label">UP LEFT</span>
            </div>
        </div>
        <div class="Direction North Center" ng-show="content.joystick.n">
            <div class="Button disable-select" ng-click="onPressJoystick(0, -1)">
                <span class="Label">UP</span>
            </div>
        </div>
        <div class="Direction North East" ng-show="content.joystick.ne">
            <div class="Button disable-select" ng-click="onPressJoystick(1, -1)">
                <span class="Label">UP RIGHT</span>
            </div>
        </div>
        <div class="Direction West Middle" ng-show="content.joystick.w">
            <div class="Button disable-select" ng-click="onPressJoystick(-1, 0)">
                <span class="Label">LEFT</span>
            </div>
        </div>
        <div class="Direction East Middle" ng-show="content.joystick.e">
            <div class="Button disable-select" ng-click="onPressJoystick(1, 0)">
                <span class="Label">RIGHT</span>
            </div>
        </div>
        <div class="Direction South West" ng-show="content.joystick.sw">
            <div class="Button disable-select" ng-click="onPressJoystick(-1, 1)">
                <span class="Label">DOWN LEFT</span>
            </div>
        </div>
        <div class="Direction South Center" ng-show="content.joystick.s">
            <div class="Button disable-select" ng-click="onPressJoystick(0, 1)">
                <span class="Label">DOWN</span>
            </div>
        </div>
        <div class="Direction South East" ng-show="content.joystick.se">
            <div class="Button disable-select" ng-click="onPressJoystick(1, 1)">
                <span class="Label">DOWN RIGHT</span>
            </div>
        </div>
    </div>
</div>
