<!doctype html>
<html ng-app="clientApp">
    <head>
        <title>Log</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controller.js"></script>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div ng-controller="ClientController" class="App">

            <div ng-include="'view/connection-client.html'" ></div>

            <div class="Content" ng-show="loggedIn">

                <div ng-if="content.action === 'standBy'">
                    <span ng-show="content.standByText">{{content.standByText}}<br/></span>

                </div>
                <div ng-if="content.action === 'showForm'">
                    <div>{{content.form.title}}</div>
                    <div ng-repeat="item in content.form.fields">
                        <input type="text" ng-model="item.value" />
                        <span>{{item.name}}</span>
                    </div>
                    <span ng-click="onClickSendForm()" class="Button disable-select">Send</span>
                </div>
                <div ng-show="false">
                    Asset library:
                    <div ng-repeat="(name, asset) in content.assets">
                        <span>{{name}} : </span>
                        <img ng-src="{{asset}}" />
                    </div>
                </div>

                <div class="ViewBoxContainer" ng-if="content.viewBox">
                    <div class="ViewBox">
                        <img ng-repeat="item in content.viewBox"
                             ng-src="{{content.assets[item.shape]}}"
                             ng-class="item.class"
                             ng-style="item.style"
                             />
                    </div>
                </div>

            </div>

            <div class="JoystickContainer" ng-show="content.joystick">
                <div class="Joystick">
                    <div class="Direction North West" ng-show="content.joystick.nw">
                        <div class="Button disable-select" ng-click="onPressJoystick('nw')">
                            <div class="Label">UP LEFT</div>
                        </div>
                    </div>
                    <div class="Direction North Center" ng-show="content.joystick.n">
                        <div class="Button disable-select" ng-click="onPressJoystick('n')">
                            <div class="Label">UP</div>
                        </div>
                    </div>
                    <div class="Direction North East" ng-show="content.joystick.ne">
                        <div class="Button disable-select" ng-click="onPressJoystick('ne')">
                            <div class="Label">UP RIGHT</div>
                        </div>
                    </div>
                    <div class="Direction West Middle" ng-show="content.joystick.w">
                        <div class="Button disable-select" ng-click="onPressJoystick('w')">
                            <div class="Label">LEFT</div>
                        </div>
                    </div>
                    <div class="Direction East Middle" ng-show="content.joystick.e">
                        <div class="Button disable-select" ng-click="onPressJoystick('e')">
                            <div class="Label">RIGHT</div>
                        </div>
                    </div>
                    <div class="Direction South West" ng-show="content.joystick.sw">
                        <div class="Button disable-select" ng-click="onPressJoystick('sw')">
                            <div class="Label">DOWN LEFT</div>
                        </div>
                    </div>
                    <div class="Direction South Center" ng-show="content.joystick.s">
                        <div class="Button disable-select" ng-click="onPressJoystick('s')">
                            <div class="Label">DOWN</div>
                        </div>
                    </div>
                    <div class="Direction South East" ng-show="content.joystick.se">
                        <div class="Button disable-select" ng-click="onPressJoystick('se')">
                            <div class="Label">DOWN RIGHT</div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-include="'view/log.html'" ></div>

        </div>
    </body>
</html>

