body {
    background-color: #110906;
}

.App {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 8px;
    color: #FFFFFF;
    /*width: 1530px;*/
}

.Connection {
    padding: 2px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FF6F00;
    margin: 2px 1px 4px 1px;
}

.Content {
    padding: 2px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FF6F00;
    margin: 2px 1px 4px 1px;
}

.Separator {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FF6F00;
    border-bottom: 1px solid #FF6F00;
    margin: 4px 1px 1px 1px;
    padding: 2px;
    position: relative;
}

.Separator.NoLine {
    border-bottom: none;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Separator.Thick {
    border-bottom: 3px solid #FF6F00;
}

.Scrollable {
    overflow-y: scroll;
    height: 100%;
    position: relative;
}

.Log {
    font-family: sans-serif;
    font-size: 8px;
    white-space: pre;
}

.Button {
    background-color: #FF6F00;
    color: #110906;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 0px 5px;
    text-align: center;
    cursor: default;
    display: inline-block
}

.ViewBoxContainer {
    max-width: 1024px;
}
.ViewBox {
    position: relative;
    overflow: hidden;
}
.ViewBox img {
    display: block;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
.ViewBox .Background {
    width: 100%;
    height: auto;
}
.ViewBox .Sprite {
    position: absolute;
    /*  top: 25%;
      left: 60%;
      width: 20%;*/
    height: auto;
}

.JoystickContainer {
    max-width: 300px;
    position: relative;    
}

.Joystick {
    width: 100%;
    padding-top: 100%;
}

.Joystick .Direction {
    width: 33.33%;
    position: absolute;
}

.Joystick .Center {
    left: 33.33%;
}

.Joystick .Middle {
    top: 33.33%;
}

.Joystick .North {
    top: 0;
}

.Joystick .West {
    left: 0%;
}

.Joystick .East {
    left: 66.67%;
}

.Joystick .South {
    top: 66.67%;
}

.Joystick .Button {
    width: 100%;
    padding-top: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
    position: relative;
}

.Joystick .Button .Label {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 50%;
}
